.contactList__row {
  width: 100%;
  display: flex;
  padding: 10px 8px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: inset 0 -1em 1em rgba(192, 180, 175, 0.5), 0 0 16px 0.5px #c7c4be,
    0.4em 0.7em 0.6em rgba(0, 0, 0, 0.2);
  @media screen and (min-width: 768px) {
    padding: 10px;
  }
}
.contact-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}
.title {
  margin-right: 5px;
  font-weight: 600;
}
.text {
  color: #d15934;
}
.delete-button {
  display: flex;
  gap: 5px;
  padding: 0 10px;
  @media screen and (min-width: 768px) {
    padding: 5px 15px;
    font-size: 18px;
  }
}
