.container__login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px 15px;
  .form {
    width: 100%;
    padding: 25px 0px;
    border-top: 2px solid rgba(65, 105, 225, 0.3);

    @media screen and (min-width: 768px) {
      width: 500px;
      padding: 25px 20px;
    }

    .label {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;

      input {
        display: block;
        font-size: 16px;
        height: calc(2.25rem + 2px);
        padding: 5px 12px;
        margin-top: 5px;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }
    &__button {
      display: block;
      width: 100%;
      padding: 10px 0;
      margin-top: 10px;
      font-size: 18px;
      font-weight: 700;
      @media screen and (min-width: 768px) {
      }
    }
  }
}
