.authBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (min-width: 420px) {
    flex-direction: row;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}
