.contactList,
.contactList * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contactList {
  list-style: none;
  counter-reset: cardCount;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
  border: 1px solid green;
}

// .label {
//     display: flex;
//     flex-direction: column;
//     padding-bottom: 16px;

//     input {
//         display: block;
//         width: 100%;
//         font-size: 16px;
//         height: calc(2.25rem + 2px);
//         padding: 5px 12px;
//         margin-top: 5px;
//         color: #495057;
//         background-color: #fff;
//         background-clip: padding-box;
//         border: 1px solid #ced4da;
//         border-radius: 0.25rem;
//         transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
//     }
// }
