.wrapper {
    display: flex;
    flex-direction: column;
    align-items:flex-end ;
    gap: 10px;
    @media screen and (min-width: 420px) {
        flex-direction: row;
        align-items: center;
    }
    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }   
    .logOutButton {
        @media screen and (min-width: 420px) {
                padding: 5px 10px;
        
        }
        @media screen and (min-width: 768px) {
            padding: 8px 15px;

        }
    }
}
.username {
    font-weight: 700;

    span {
        color: #e84a5f;
    }
}